<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_didactico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Didactico">


        <activity android:name=".pregunta"
            android:parentActivityName=".menu_juegos"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".info_app" />
        <activity android:name=".felicidades" />
        <activity
            android:name=".escojer_niveles"
            android:parentActivityName=".menu_juegos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".memorama"
            android:parentActivityName=".menu_juegos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".arrastrar_soltar"
            android:parentActivityName=".escojer_niveles"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu_juegos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visor_imagenes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>